* {
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #111; /* /netflix black background */
  color: #fff;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}